* {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-family: Helvetica, sans-serif;
}

body {
}

#mainContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#promptContainer {
    margin: 20px;
    border: rgba(255, 255, 255, .2);
    box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .3);
    border-radius: 8px;
}

.promptHeader {
    background-color: rgb(1, 91, 133);
    color: #FFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

#playerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

    #aContainer, #bContainer {
        margin: 20px;
        border: rgba(255, 255, 255, .2);
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .3);
        border-radius: 8px;
        min-width: 300px;
    }

    .gameHeader {
        background-color: rgb(1, 91, 133);
        color: #FFF;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px;
    }

    .selectionBtn {
        display: flex;
        margin: 20px;
        color: #000;
        cursor: pointer;
    }

    .btnInnerLeft {
        height: 100px;
        width: 100px;
        justify-items: center;
        background: red;
    }

    .selectionBtn:hover {
        background-color: rgb(170, 170, 170);
    }

    .playerSelections {

    }

#statsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
}

    #scoreWrapper, #chatWrapper {
        margin: 20px;
        border: rgba(255, 255, 255, .2);
        box-shadow: 0 1px 3px 1px rgba(60, 64, 67, .3);
        border-radius: 8px;
        width: 100%;
    }

    .statsHeader {
        background-color: #555;
        color: #FFF;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 10px;
    }